.avatar {
  margin-top: 10px;
  font-size: 26px; }
  .avatar img {
    vertical-align: middle;
    width: 65px;
    height: 65px;
    padding: 3px 5px 0 5px;
    border-radius: 50%; }
  .avatar span {
    margin-top: 10px; }

@media all and (max-width: 30em) {
  .avatar {
    font-size: 18px; }
    .avatar img {
      width: 45px;
      height: 45px; } }
